html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
p{
    font-size: 1.3em;
}
ul{
    list-style: none;
}
li{
    font-size: 1.1em;
}

button{
    font-size: 2em;
    font-weight: lighter;
    padding: 10px 10px;
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 2px 1px 5px;
    color: #000;
    background-color: rgb(42, 169, 4);
}

button:hover{
    background-color: rgb(127, 249, 125 );
}

.container{
    max-width: 1200px;
    margin: auto;
}

.color-acento{
    color:rgb(42, 169, 4);
}

header{
    background-color: rgb(188, 247, 187 );
}

header .logo{
    padding: 10px 15px;
    font-weight: bold;
    color: rgb(42, 169, 4);
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

header a{
    padding: 3px 10px;
    text-decoration: none;
    font-weight:lighter;
    color:#000;
}

header a:hover{
    color: rgb(42, 169, 4);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: rgb(140, 249, 107);
    /*color: #000;*/
    height: 80vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/heroDolares.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: #fff;
}

#descrip-cashnow .container{
    text-align: center;
    padding: 400px 15px;
}

#servicios{
    text-align: center;
    color: #000;
    background-color: rgb(188, 247, 187 );
}

#servicios .container{
    padding: 110px 10px;
}

#servicios h2{
    margin-top: 0;
    font-size: 2.5em;
}

#servicios p{
    display: none;
}

#servicios .descrip-servicios{
    padding: 40px;
    margin: 10px;
    border-radius: 15px ;
}

.descrip-servicios:first-child{
    background-image: linear-gradient(0deg,rgb(192, 192, 192),rgb(192, 192, 192));
}

.descrip-servicios:nth-child(2){
    background-image: linear-gradient(0deg,rgb(247, 220, 111 ),rgb(247, 220, 111 ));
}

.descrip-servicios:last-child{
    background-image: linear-gradient(0deg,rgb(241, 196, 15 ),rgb(241, 196, 15 ));
}

#caracteristicas .container{
    text-align: center;
    padding: 150px;
}

#caracteristicas li{
    margin: 5px;
    padding: 10px;
    font-weight: bold;
}

#comunicate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(188, 247, 187 );
    color:#000;
    height: 80vh;
}

#comunicate h2{
    font-size: 5vh;
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer p{
    color: rgb(178, 176, 169);
    padding: 10px;
}

@media(min-width:1200px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #descrip-cashnow .container{
        display: flex;
        justify-content: center;
    }

    #descrip-cashnow .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
